.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
    
}

.radom-text-products {
    text-align: center;
}

.card{
    width: 300px;
    border: 2px solid hsl(60, 56%, 65%);
    border-radius: 10px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    /* flex-direction: row; */
    
}

.card img{
    width: 100%;
    border-radius: 10px;

}

.card-container .card button {
    align-self: center;
}