.nav-bar{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.Nav-items{
    text-decoration: none;
}

a{
    font-family: 'Montserrat';
}

ul li a{
    text-decoration: none;
    color: rgb(159, 104, 215);
}

ul li a:hover{
    background-color: rgb(141, 39, 243);
    color: aqua;
    font-weight: bold;
}
